# Alpaca API Credentials
# Get your keys from https://app.alpaca.markets/

ALPACA_API_KEY=PKVYH4ZKW4N7KXDREH2ZUFHK7R
ALPACA_API_SECRET=GPKLVD6p64yeitbFRkVnu3hdRDmETCjdWN5qp4TRBXQU

# Use paper trading for backtesting (recommended)
ALPACA_PAPER=true
