# Alpaca API Credentials
# Get your keys from https://app.alpaca.markets/

APCA_API_KEY_ID=PKVYH4ZKW4N7KXDREH2ZUFHK7R
APCA_API_SECRET_KEY=GPKLVD6p64yeitbFRkVnu3hdRDmETCjdWN5qp4TRBXQU

# Use paper trading for backtesting (recommended)
ALPACA_PAPER=true
